._footer{
    width: 100%;
    float: inherit;
    background-color: black;
    color: white;
    font-family: cursive;
    text-align: bottom;
    
}

.heading{
    width: 100%;
    text-align: left;

}

.heading h3{
    display: inline;

}

.heading button{
    float: right;
    border: 1px solid white;
}

.big_image{
    width: 100%;
}

#Start , #Status {
    font-size: 22px;
}

h4{
    background-color: white;
    line-height: 2;
    margin-top: 200px;
}

.modal-dialog{
    width: 90%;

}

.instruction_image{
    display: inline-block;
    width: 45%;
    
}